
body {
  height: 100vh;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

div.red {
  height: 10vh;
  width: 100%;
  background-color: red;
}

div.container {
  display: flex;
}

div.left {
  height: 90vh;
  background-color: yellow;
  flex: 1; /* controls size of left div */
}

.container-middle { /* controls middle section, how much horizontal space it will take */
  display: flex;
  flex-direction: column;
  flex: 6; /*this one*/
}

div.middle {
  height: 80vh;
  background-color: blue;
  flex: 12; /* controls vertical space it will take */
}

div.bottom {
  height: 10vh;
  background-color: green;
  flex: 1; /* controls vertical space it will take */
}

div.container div.right {
  height: 90vh;
  background-color: yellow;
  flex: 1; /* controls size of right div */
}
