body {
  margin: 0 0 0 0;
}
.container {
  display: flex;
}
.top {
  height: 10vh;
  background-color: red;
  flex: 1;
}
.middle {
  height: 80vh;
  background-color: blue;
  flex: 1;
}

.one {
  flex: 1;
  background-color: blue;
}

.two {
  flex: 1;
  background-color: purple;
}

.three {
  flex: 1;
  background-color: yellow;
}

.bottom {
  height: 10vh;
  background-color: green;
  flex: 1;
}
