body {
  font-family: 'Open Sans','Helvetica Neue',
  Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
}
p {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Lora,'Times New Roman',serif;
  font-size: 20px;
  color: #333;
}

h2.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
  font-family: 'Open Sans','Helvetica Neue',
  Helvetica,Arial,sans-serif;
  margin-bottom: 10px;
  color: black;

}

.caption {
  font-size: 14px;
  color: #777;
  text-align: center;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.navbar-default .navbar-brand {
  color: grey;
  font-weight: bold;
}

.navbar-default .navbar-brand:hover {
  color: black;
}

.navbar-header .navbar-toggle {
 color: #777;
 font-weight: 800;
 text-transform: uppercase;
 font-size: 12px;
}

.navbar-nav>li>a {
  font-size: 11px;
  font-weight: bold;
  color: white;
}
.navbar-nav>li>a:hover {
  background-color: transparent;
  color: grey;
}

button.navbar-toggle.collapsed {
  color: grey;
  border: 2px solid grey;
}

.intro-header {
  /*height: 80vh;*/
  background:center center no-repeat ;
  background-size: cover;
  margin-bottom: 50px;
  height: 595px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

header a {
  color: white;
}
header a:hover {
  color: white;
}

div.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

div.post-heading {
  margin-top: 100px;
}

div.post-heading h1 {
  font-family: 'Open Sans','Helvetica Neue',
  Helvetica,Arial,sans-serif;
  font-size: 55px;
  font-weight: 800;
  color: white;
  line-height: 1.1;
}

div.post-heading h2 {
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 30px;
}
div span {
  font-size: 20px;
  line-height: 1.1;
}

article.article-text {c
  color: black;
  margin: 0px 50px 0px 50px;
}

article>container-fluid {
  padding-right: 30%;
  padding-left: 30%;
  margin-right: auto;
  margin-left: auto;
}

blockquote {
  color: #777;
}

p a {
  text-decoration: underline;
  color: black;
}

li {
  display: inline;
  list-style: none;
  padding: 0px 5px 0px 5px;
}

footer {
  padding: 50px 0px 65px 0px;
}

.fa-stack {
  color: #000000;
}

p.text-muted {
  text-align: center;
  color: grey;
}
@media screen
and (max-width: 767px) {

  /*header.top {  height: 50vh; }*/

  .intro-header {
    height: 334px;
  }

  div.post-heading h1 {
    font-size: 35px;
  }

  article.article-text {
    margin: 0px 30px 0px 30px;
  }

  h2.subheading {
    font-size: 22px;
  }

  div span {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
  }

  div.post-heading h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

}

@media only screen
and (max-width: 480px) {

  /*header.top {  height: 35vh; }*/

  div.post-heading h1 {
    font-size: 25px;
  }

  article.article-text {
    margin: 0px 30px 0px 30px;
  }

  h2.subheading {
    font-size: 20px;
  }

  div span {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
  }

  div.post-heading h2 {
    margin-bottom: 10px;
  }

}

@media only screen
and (max-width: 320px) {

  /*header.top {  height: 30vh; }*/

  div.post-heading {
    margin-top: 100px;
  }
  div.post-heading h1 {
    font-size: 28px;
  }

  h2.subheading {
    font-size: 15px;
  }

  div span {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;

  }

  div.post-heading h2 {
    margin-bottom: 10px;
  }

}
